execution/ops_handoff_workflow.json
{
  "id": "0f1e2d3c-4b5a-6789-8c7d-6e5f4a3b2c10",
  "versionId": "9a7b6c5d-4e3f-2101-9b8a-7c6d5e4f3a21",
  "name": "HazloPorMi - Ops handoff",
  "active": true,
  "staticData": null,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops-handoff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-2222-3333-4444-555555555555",
      "name": "Webhook - Ops Handoff",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1soGLupFZRynK_ykUYsYE5eJGg1WLi9DwaeThKwJInKM/values/Casos!A:Z:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"values\": [[ $json.created_at || $now.toISO(), $json.case_id || '', $json.status || 'paid_intake_received', $json.ops_ready ? 'true' : 'false', $json.recommended_action || '', $json.category || '', $json.name || '', $json.email || '', $json.phone || '', $json.payment_reference || '', $json.sla_deadline_at || '', $json.urgency || '', $json.target_entity || '', $json.diagnosis || '', $json.treatment_needed || '', $json.concrete_request || '', Array.isArray($json.key_dates) ? $json.key_dates.join(' | ') : ($json.key_dates || ''), $json.case_story || '', $json.prior_claim_result || '', $json.ongoing_harm || '', Array.isArray($json.ops_missing_reasons) ? $json.ops_missing_reasons.join(' | ') : ($json.ops_missing_reasons || ''), Array.isArray($json.uploaded_files) ? $json.uploaded_files.map((file) => typeof file === 'string' ? file : (file.name || file.url || JSON.stringify(file))).join(' | ') : ($json.uploaded_files || ''), Array.isArray($json.documents_to_request) ? $json.documents_to_request.join(' | ') : ($json.documents_to_request || ''), $json.public_token || '', $json.invoice_number || '', $json.raffle_code || '' ]] } }}",
        "options": {}
      },
      "id": "22222222-3333-4444-5555-666666666666",
      "name": "Google Sheets - Append Ops Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZjJ9bl0HAYdee03C",
          "name": "HazloPorMi Google Sheets Ops"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"accepted\", \"channel\": \"ops_handoff\", \"case_id\": $json[\"case_id\"], \"recommended_action\": $json[\"recommended_action\"], \"ops_ready\": !!$json[\"ops_ready\"], \"missing_count\": ($json[\"ops_missing_reasons\"] || []).length, \"received_name\": $json[\"name\"], \"received_at\": $now } }}"
      },
      "id": "66666666-7777-8888-9999-000000000000",
      "name": "Respuesta - Ops",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        620,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Ops Handoff": {
      "main": [
        [
          {
            "node": "Google Sheets - Append Ops Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta - Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": null,
  "pinData": {}
}
